[submodule "hugo-coder-portfolio"]
	path = hugo-coder-portfolio
	url = https://github.com/naro143/hugo-coder-portfolio.git
[submodule "pustserg.github.io"]
	path = pustserg.github.io
	url = git@github.com:pustserg/pustserg.github.io.git
	branch = main
