[submodule "hugo-coder-portfolio"]
	path = hugo-coder-portfolio
	url = https://github.com/naro143/hugo-coder-portfolio.git
[submodule "public"]
	path = public
	url = git@github.com:pustserg/pustserg.github.io.git
	branch = master
